* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#home {
  margin-top: 90px;
}
#summary {
  margin-top: 50px;
}
.react-calendar {
  margin-top: 10px;
  margin-left: 50px;
}
tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:first-child td {
  border-top-style: solid;
}
tr td:first-child {
  border-left-style: solid;
}
.Table {
  border-collapse: separate !important;
  border-spacing: 0 20px;
  border-radius: 10px;
}
.workout {
  cursor: pointer;
}
.workout-done {
  background-color: #59ff59;
}
.workout-no-client {
  background-color: #ffcccb;
}
#td-client-came {
  padding-left: 20px;
  padding-bottom: 0;
}

.fa-icon {
  color: red;
  cursor: hand;
  width: 20;
  height: 20;
}
.fa-icon:hover {
  font-size: 1.8em;
  transition-property: all;
  transition: 0.8s ease-out;
}
#forms-row {
  padding: 30px;
}
.form-add-inline {
  padding: 20px;
}
.form-add-inline p {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bolder;
}
.form-add-icon {
  font-size: 50px;
  color: #21565c;
  cursor: pointer;
}
.form-add-icon:hover {
  color: #64adb5;
  transition: 0.3s;
}
.workout-form-exercise {
  margin-bottom: 5px;
}
#workout-form-add-exercise-icon {
  padding: 10px;
  font-size: 45px;
  cursor: pointer;
  border-radius: 2%;
}
#workout-form-add-exercise-icon:hover {
  background-color: #c3d9dc;
  transition: 0.3s;
}
#submit-new-workout-button {
  margin:10px;
}
#workout-form-exercise-counter p {
  margin-top: 10px;
  margin-bottom: 0;
}
#remove-workout-form-icon svg{
  margin-top: 10px;
  padding-right: 10px;
  float: right;
  color: red;
  cursor: pointer;
  width: 25px;
  height: 25px;
}